<!doctype html>
<html ng-app='redditApp'>
<head>
  <title>Reddit Angular</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- <script src="vendor/angular/angular.min.js"></script> -->
</head>
<body ng-controller="MainCtrl">

  <input type="text" ng-model="term" />
  <p>{{term}}</p>
  <div ng-repeat="(key, value) in tournaments">{{value}}</div>

  <form name="postForm" ng-submit="createPost()">
    <input type="text" placeholder="Title" ng-model="post.title">
    <button type="submit">Save</button>
  </form>
</body>
</html>
